* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

h1 {
  color: red;
  width: 100vw;
  text-align: center;
}
form {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 20vh;
}

label {
  margin: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 2px;
}
input {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgba(0, 128, 128, 0.1);
  padding: 10px;
}
input:focus {
  outline: none;
  border: 1px solid green;
}

button {
  width: 90px;
  height: 25px;
  background: transparent;
  font-weight: 600;
  position: relative;
  transition: all 1s ease-in-out;
  border: none;
}
button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.411);
  transition: all 0.5s ease-out;
  z-index: -1;
  border-radius: 20px;
}
button:hover::after {
  width: 100%;
  z-index: -1;
}

li {
  list-style: none;
  margin: 20px;
  background-color: rgba(0, 128, 0, 0.411);
  border-radius: 30px;
  padding: 10px;
  position: relative;
}
i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 93%;
}
